<!-- Здесь должен быть шаблон главной страницы со списокм рефератов -->
<!-- Возьмите за основу http://getbootstrap.com/getting-started/#template -->
<!-- Колоночную верстку сделайт е с помощью http://getbootstrap.com/css/#grid -->

<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Список рефератов</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!--[ifltIE9]><scriptsrc="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script><scriptsrc="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
  </head>
  <body>

    <H1>Новые рефераты</H1>
    <a href="/buy" class="button">Купить</a>
    <div class="row">
      {% for i in range(1,4) %}
      <div class="col-md-4">
        <H3>{{ referat_list[key_list[i]]["strong"] }}</H3>
        {% for p in referat_list[key_list[i]]["p"] %}
          <p>{{ p }}</p>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
    <div class="row">
      {% for i in range(4,7) %}
      <div class="col-md-4">
        <H3>{{ referat_list[key_list[i]]["strong"] }}</H3>
        {% for p in referat_list[key_list[i]]["p"] %}
          <p>{{ p }}</p>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!--script src="js/bootstrap.min.js"></script -->
   
  </body>
</html>